<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jake Buhite</title>
  <meta name="author" content="Jake Buhite">
  <meta name="description" content="The official portfolio website of Jake Buhite">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <!-- Nav -->
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
    
        <!-- Content -->
        <main>
            <h1>404 - Page Not Found</h1>
            <h1>(╯°□°）╯︵ ┻━┻</h1>
        </main>
    
        <!-- Footer -->
        <footer>Jake Buhite, 2022<br> <a href="https://github.com/jakebuhite/updated-portfolio-site" target="_blank">View Github</a></footer>
    </div>
</body>
</html>