<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jake Buhite</title>
  <meta name="author" content="Jake Buhite">
  <meta name="description" content="The official portfolio website of Jake Buhite">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="container">
    <!-- Nav -->
    <nav>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <!-- Content -->
    <main>
      <h1 class="heading">Jake Buhite</h1>
      <h2 class="subheading">Developer <span style="color:#a132f0;">·</span> Student</h2>
      <!-- Social Media -->
      <ul>
        <li class="sm-icon"><a href="mailto:jakebuhite@gmail.com"><img src="/static/images/mail.png" alt="Mail Icon" title="Email" width="48"></a></li>
        <li class="sm-icon"><a href="https://github.com/jakebuhite" target="_blank"><img src="/static/images/github.png" alt="Github Icon" title="Github" width="48"></a></li>
        <li class="sm-icon"><a href="https://www.linkedin.com/in/jake-buhite/" target="_blank"><img src="/static/images/linkedin.png" alt="LinkedIn Icon" title="LinkedIn" width="48"></a></li>
        <li class="sm-icon"><a href="#" target="_blank"><img src="/static/images/resume.png" alt="File Icon" title="Resume" width="48"></a></li>
      </ul>
    </main>

    <!-- Footer -->
    <footer>Jake Buhite, 2022<br> <a href="https://github.com/jakebuhite/updated-portfolio-site" target="_blank">View Github</a></footer>
  </div>
</body>
</html>